p{
    border-radius: 10px 0 10px 0;
    border: 2px solid rebeccapurple;
    box-shadow: 3px 3px 5px yellowgreen;
    background-color: rgb(240, 240, 154);
    font-size: 20px;
    color: rgb(0, 0, 255);
    font-weight: 700;
}